<div #about class="p-5 space-y-5">
	<div class="flex justify-center">
		<div class="font-Poppins font-bold text-4xl p-3 border-b-2 border-black">
			ABOUT ME
		</div>
	</div>
	<div class="flex justify-center">
		<div class="flex font-Dongle space-x-10 p-5 border-b-2 border-gray">
			<div class="p-3 space-y-2 text-center">
				<div class="flex space-x-2 text-4xl">
					<img src="\assets\perm_identity_black_24dp.svg">
					<div class="font-bold">이름</div>
				</div>
				<div class="text-3xl">김영진</div>
			</div>
			<div class="p-3 space-y-2 text-center">
				<div class="flex space-x-2 text-4xl">
					<img src="\assets\celebration_black_24dp.svg">
					<div class="font-bold">생년월일</div>
				</div>
				<div class="text-3xl">1998.08.02</div>
			</div>
			<div class="p-3 space-y-2 text-center">
				<div class="flex space-x-2 text-4xl">
					<img src="\assets\call_black_24dp.svg">
					<div class="font-bold">연락처</div>
				</div>
				<div class="text-3xl">010-9456-0400</div>
			</div>
			<div class="p-3 space-y-2 text-center">
				<div class="flex space-x-2 text-4xl">
					<img src="\assets\place_black_24dp.svg">
					<div class="font-bold">주소</div>
				</div>
				<div class="text-3xl">광주광역시 북구</div>
			</div>
		</div>
	</div>
	<div class="flex justify-center">
		<div class="space-y-5 font-Dongle">
			<div class="px-4 border-gray border-l-4 text-3xl">Full-Stack Developer</div>
			<div class="px-4 border-gray border-l-4 text-3xl">21.03.15 ~ 12.31 응용SW 엔지니어링 웹/앱 개발자 양성과정</div>
			<div class="px-4 border-gray border-l-4 text-3xl">22.02 ~ 팀 레피소드 주식회사 웹/앱 개발팀</div>
		</div>
	</div>
</div>