<div #contact class="p-10 bg-gray-700 space-y-10">
	<div class="flex justify-center ">
		<div class="font-Poppins font-bold text-white text-4xl p-3 border-b-2 border-white">
			CONTACT ME
		</div>
	</div>
	<div class="flex justify-center p-5 space-x-5">
		<div class="bg-white rounded-xl shadow-2xl font-Poppins p-10 space-y-5">
			<div class="font-bold text-3xl text-center">SNS</div>
			<div class="flex items-center space-x-5">
				<div class="flex justify-center">
					<ion-icon class="text-5xl m-auto" src="/assets/svg/facebook.svg"></ion-icon>
				</div>
				<div class="flex justify-center">
					<ion-icon class="text-5xl m-auto" src="/assets/svg/instagram-icon.svg"></ion-icon>
				</div>
			</div>
		</div>
		<div class="bg-white rounded-xl shadow-2xl font-Poppins p-10 space-y-5">
			<div class="font-bold text-3xl text-center">GitHub</div>
			<div class="flex flex-col justify-center space-y-5">
				<div>
					- Study & Team Project Source code
				</div>
				<a class="hover:text-indigo-500 transition-colors" href="https://github.com/kimyoungjin98">
					https://github.com/kimyoungjin98
				</a>
			</div>
		</div>
		<div class="bg-white rounded-xl shadow-2xl font-Poppins p-10 space-y-5">
			<div class="font-bold text-3xl text-center">Velog</div>
			<div class="flex flex-col justify-center space-y-5">
				<div>
					- Study & Develop Blog
				</div>
				<a class="hover:text-indigo-500 transition-colors" href="https://velog.io/@dudzpsdb">
					https://velog.io/@dudzpsdb
				</a>
			</div>
		</div>
		<div class="bg-white rounded-xl shadow-2xl font-Poppins p-10 space-y-5">
			<div class="font-bold text-3xl text-center">E-mail</div>
			<div class="flex flex-col justify-center space-y-5">
				<div>
					gyu250@naver.com
				</div>
				<div>
					youngjin@lepisode.team
				</div>
			</div>
		</div>
	</div>
</div>