<div class="h-full">
	<div #topmenu
		class="flex w-full py-5 justify-end space-x-10 text-2xl text-white font-bold font-Poppins bg-indigo-600">
		<div class="px-5 mr-auto">Youngjin's
			Page?ver=2.0</div>
		<div class="hover:text-indigo-200 px-5 transition-all cursor-pointer">About</div>
		<div class="hover:text-indigo-200 px-5 transition-all cursor-pointer">Skills</div>
		<div class="hover:text-indigo-200 px-5 transition-all cursor-pointer">Project
		</div>
		<div class="hover:text-indigo-200 px-5 transition-all cursor-pointer">Contact
		</div>
	</div>
	<app-about></app-about>
	<app-skills></app-skills>
	<app-project></app-project>
	<app-contact></app-contact>
</div>