<div #project class="p-10 space-y-10">
	<div class="flex justify-center">
		<div class="font-Poppins font-bold text-4xl p-3 border-b-2 border-black">
			PROJECT
		</div>
	</div>

	<div class="flex border-gray-100 border-2 rounded-xl shadow-xl">
		<div class="p-10 space-y-10">
			<div class="font-Poppins text-4xl font-bold">Team Project Malang</div>
			<div class="font-Noto-Sans font-bold text-xl space-y-2">
				<div>인원 : 3인</div>
				<div>포지션 : Full Stack</div>
				<div>사용 기술 : Spring Framework, MySQL, Java, Javascript</div>
				<div>소스 코드 : <a class="hover:text-indigo-400 transition-colors"
						href="https://github.com/Team-NanaScript/TeamProject_Malang">https://github.com/Team-NanaScript/TeamProject_Malang</a>
				</div>
			</div>
			<div class="font-Noto-Sans font-bold text-2xl space-y-2">
				<div>수제 공예, 간식 등의 물품 거래 플랫폼 말랑 입니다</div>
				<div>스프링 프레임워크로 Front/Back 작업을 하였고 MySQL을 사용해서 데이터 관리를 하였습니다.</div>
			</div>
		</div>
	</div>

	<div class="flex border-gray-100 border-2 rounded-xl shadow-xl">
		<div class="p-10 space-y-10">
			<div class="font-Poppins text-4xl font-bold">Neople API Service</div>
			<div class="font-Noto-Sans font-bold text-xl space-y-2">
				<div>인원 : 개인</div>
				<div>포지션 : Full Stack</div>
				<div>사용 기술 : Spring Framework, Neople API, Java, Javascript</div>
				<div>소스 코드 : <a class="hover:text-indigo-400 transition-colors"
						href="https://github.com/kimyoungjin98/Toy_Project/tree/master/GameApi_V2">https://github.com/kimyoungjin98/Toy_Project/tree/master/GameApi_V2</a>
				</div>
			</div>
			<div class="font-Noto-Sans font-bold text-2xl space-y-2">
				<div>던전앤파이터 캐릭터 검색 / 캐릭터 정보 확인 서비스</div>
				<div>스프링 프레임워크로 Front/Back 작업을 하였고 네오플 API를 사용하여 데이터를 관리하였습니다</div>
				<div>캐릭터를 검색하고 검색한 결과들 중 하나를 선택하여 정보를 확인할 수 있도록 작업하였습니다</div>
			</div>
		</div>
	</div>

	<div class="flex border-gray-100 border-2 rounded-xl shadow-xl">
		<div class="p-10 space-y-10">
			<div class="font-Poppins text-4xl font-bold">ArtMu</div>
			<div class="font-Noto-Sans font-bold text-xl space-y-2">
				<div>인원 : 3인</div>
				<div>포지션 : Front-End</div>
				<div>사용 기술 : Angular, ionic, tailwindcss, Nestjs</div>
				<div>소스 코드 : 미공개</div>
			</div>
			<div class="font-Noto-Sans font-bold text-2xl space-y-2">
				<div>커미션 트윗과 디자이너를 한눈에 확인할 수 있는 서비스 아트뮤 입니다</div>
				<div>Angular2와 tailwindcss framework를 사용하여 View를 구성하였습니다</div>
				<div>트위터 API를 사용하여 커미션 Hash Tag를 달고있는 트윗을 가져와 사용자에게 보여줍니다</div>
				<div>또한 커미션 트윗을 올리는 디자이너 리스트를 사용자가 확인할 수 있도록 작업하였습니다</div>
			</div>
		</div>
	</div>
</div>